.card {
  width: 365px;
  height: 224px;
  margin-top: 20px;

  @media (max-width: 720px) {
    width: 280px;
    height: 180px;
  }

  &__front,
  &__back {
    display: grid;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;

    padding: 0 30px;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  &__cleanBg {
    background-image: url('../../public/clean-card.svg');
    &__back {
      background-image: url('../../public/clean-card-back.svg');
    }
  }

  &__blueBg {
    background-image: url('../../public/blue-card.svg');
    &__back {
      background-image: url('../../public/blue-card-back.svg');
    }

    .visaLogo {
      background-image: url('../../public/visaLogo.png');
      background-repeat: no-repeat;
      margin: 42px 0 -30px;
    }
  }

  &__number,
  &__name,
  &__expirationDate,
  &__cvv {
    font-family: SfProText;
    color: white;
    font-size: 12px;
  }

  &__number {
    display: block;
    align-self: end;
    margin-top: 30px;
    font-size: 19px;
    line-height: 21px;
    letter-spacing: 1.52px;
    text-shadow: 0px 1px 2px #000000b3;
    text-align: center;
    word-spacing: 5px;
  }

  &__name,
  &__expirationDate,
  &__cvv {
    display: flex;
    flex-direction: column-reverse;
  }

  &__name,
  &__expirationDate {
    margin-bottom: 40px;
  }

  &__cvv {
    &_digits {
      color: black;
      position: relative;
      bottom: 100px;
      left: 160px;
    }
  }
}
