.appBar {
    figure {
     float: left;
     align-self: flex-start;
     flex-grow: 1,
    }

    .toolbar {
      width: 100%;
      flex-wrap: 'wrap';
    }

    .link {
      margin: 10px;
      background-color: #3C3C3C;
      border-radius: 5px;
      opacity: 1;
    }


  @media (min-width: 992px) {
    header {
      figure {
        margin: 20px 0;
      }
    }
    .container {
      width: 992px;
    }
  }

  @media (min-width: 1366px) {
    .container {
      width: 1366px;
    }
  }
}