.appBar {
  background-color: #ffffff;

  figure {
    float: left;
    align-self: flex-start;
    flex-grow: 1;
    @media (max-width: 900px) {
      display: flex;
      justify-content: center;
    }
  }
  .toolbar {
    width: 100%;
    flex-wrap: 'wrap';
  }

  .link {
    margin: 10px;
    background-color: #3c3c3c;
    border-radius: 5px;
    opacity: 1;
  }
  .menu {
    @media (max-width: 900px) {
      display: none;
    }
  }
}
