@import './styles.scss';

@font-face {
  font-family: 'SfProText';
  src: url('../../public/SFProText.ttf') format('truetype');
}

$font-main: 'SfProText';

.customFont {
  font-family: $font-main;
}

.appBar {
  position: 'relative';
}

.layout {
  width: auto;
  @media (max-width: 1280px) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.paper {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
}

.stepper {
  margin-top: 20px;
  font-size: 10px;
  border-color: $theme-color;
  background-color: none;
  @media (max-width: 1280px) {
    display: none;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}

.button {
  margin-top: 24px;
  margin-left: 8px;
  border-radius: 9px;
  background-color: $text-color-featured;
  color: white;
}
