$text-color: #3c3c3c;
$text-color-invert: #fff;
$text-color-secondary: #c9c9c9;
$text-color-featured: #de4b4b;
$theme-color: #de4b4b;
$background: #fff;
$page-background: #f7f7f7;

.app {
  background-color: $background;
}
