$backgroundColor: #2ecc71;

.app {
  background-color: $backgroundColor;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: verdana, -apple-system, SanFranciscoPro, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
